@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #f9895b;
  --color-secondary: #4f6d36;
  --font-railway: "Raleway", sans-serif;
}
